body {
    font-family: Arial, sans-serif;
    background-color: #f12d2d;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input[type="text"] {
    width: 60%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}

button {
    padding: 12px 20px;
    background-color: #f12d2d;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    margin: 0 20px;
}

button:hover {
    background-color: #ffe4e4;
    color: black;
}

table {
    width: 100%; /* Đảm bảo bảng chiếm toàn bộ chiều rộng của phần tử chứa nó */
    border-collapse: collapse; /* Gộp các đường viền của ô lại với nhau */
    margin: 0 auto; /* Đây là cách để căn giữa bảng theo chiều ngang */
}

th, td {
    padding: 8px; /* Khoảng cách giữa nội dung và đường viền của ô */
    text-align: center; /* Căn giữa nội dung trong ô */
    border: 1px solid #ddd; /* Đường viền của ô */
}

th {
    background-color: #f2f2f2; /* Màu nền cho ô tiêu đề */
}

/* Định dạng cho hàng lẻ của bảng */
tr:nth-child(odd) {
    background-color: #f9f9f9; /* Màu nền cho hàng lẻ */
}
.image
{
    display: block;
    margin: 0 auto;
    width: 100px;
    height: auto;
}
hr {
    border: 1px solid #f90303; /* Màu và kiểu đường kẻ */
    margin: 20px 0; /* Khoảng cách trên và dưới của đường kẻ */
}
  